body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.grid-container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.grid-row {
    display: flex;
}

.grid-square:hover {
    background-color: darkgreen;
}

.sketched {
    background-color: lightgreen;
}